*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

#backend-home{
    width: 100vw;
    margin: auto;
}

table{
    min-width: 300px;
}